<div class="container">
  {{#link-to 'index'}}<h1>The New York Divides</h1>{{/link-to}}

  <div class="well">
    {{outlet}}
  </div>
  {{profile-button id="profile-button" name=name googleSignIn="googleSignIn" viewProfile="viewProfile" isLoggedIn=isLoggedIn}}
</div>
