<h3>Your Reader Profile</h3>

<dl>
<dt>Name</dt>
<dd>{{displayName}}</dd>
<dt>Email</dt>
<dd>{{emails.0.value}}</dd>
<dt>Photo</dt>
<dd><img width="150px" {{bind-attr src=_json.picture}} /></dd>
</dl>